{% extends '@Juno/layout.html.twig' %}

{% block tab 'Info' %}

{% block body %}
    <section id="bernard">
        <header>
            <div class="pull-right">
                <a class="btn btn-mini btn-primary" href="{{ app.router.generate('juno_info_driver') }}">Driver</a>
            </div>

            <h2>Bernard</h2>
        </header>

        <div class="row-fluid">
            <p>General information about the state of your <strong>Bernard</strong> deployment.</p>

            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th width="50%">Driver</th>
                        <td>{{ app['bernard.driver']|title }}</td>
                    </tr>
                    <tr>
                        <th width="50%">Messages</th>
                        <td>{{ pending }}</td>
                    </tr>
                    <tr>
                        <th width="50%">Failed Messages</th>
                        <td>{{ failed }}</td>
                    </tr>
                    <tr>
                        <th width="50%">Queues</th>
                        <td>{{ queues }}</td>
                    </tr>
                    <tr>
                        <th width="50%">Consumers</th>
                        <td>{{ consumers }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

