{% extends '@Juno/layout.html.twig' %}

{% set failed = queue.name == 'failed' %}
{% set start = app.request.query.get('start', 0) %}
{% set limit = app.request.query.get('limit', 20) %}
{% set count = queue.count %}

{% block tab failed ? 'Failed' : 'Queues' %}
{% block title failed ? "Failed" : "\"#{queue.name}\"" %}

{% block body %}
    <section id="queue">
        <header>
            <div class="pull-right">
                {% if not failed %}
                    <form action="{{ app.router.generate('juno_queue_delete', { 'queue' : queue.name }) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you absolutely sure? This cannot be undone.');">Remove Queue</button>
                    </form>
                {% endif %}
            </div>

            <h2>{{ failed ? "Failed Jobs" : "Pending Jobs on \"#{queue.name}\"" }}</h2>
        </header>


        <div class="row-fluid">
            <div class="span12">
                <p>Showing {{ start }} to {{ start + limit }} of <strong>{{ count }}</strong> messages.</p>

                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Retries</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Arguments</th>
                        </tr>
                    </thead>

                    {% for message in queue.peek(start, limit) %}
                    <tr>
                        <td>{{ message.timestamp|date }}</td>
                        <td>{{ message.retries }}</td>
                        <td>{{ message.name }}</td>
                        <td>{{ message.class|abbr_class }}</td>
                        <td>{{ message.message|format_args|default('No arguments') }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">There are no pending jobs in this queue.</td>
                    </tr>
                    {% endfor %}
                </table>

                {{ include('@Juno/_pagination.html.twig', { 'start' : start, 'limit' : limit, 'count' : count }) }}
            </div>
        </div>
    </section>
{% endblock %}
