{% if app.request.xmlHttpRequest %}
    {{ block('body') }}
{% else %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ block('title') ? block('title') : block('tab', 'Undefined') }} - Juno</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ app.request.basePath }}/juno/inspiritas/inspiritas.css" rel="stylesheet">
        <link href="{{ app.request.basePath }}/juno/css/juno.css" rel="stylesheet">
    </head>

    <body>
        {% set tab = block('tab', 'Overview') %}
        {% set tabs = { 'Overview' : 'juno_homepage', 'Queues' : 'juno_queue_index', 'Failed' : 'juno_failed_index' } %}

        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ app.router.generate('juno_homepage') }}">Juno</a>

                    <ul class="nav">

                        {% for title, path in tabs %}
                            <li{{ tab == title ? ' class="active"' : '' }}>
                                <a href="{{ app.router.generate(path) }}">{{ title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="content"{{ tab in ['Overview', 'Queues'] ? ' data-poll="1"' : '' }}>
                        {{ block('body') }}
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div id="footer">
                        <p class="pull-left">Powered by <a href="https://github.com/henrikbjorn/Raekke">Raekke</a>, <a href="http://redis.io">Redis</a> &amp; <a href="https://github.com/littke/inspiritas-bootstrap">Inspiritas</a> and inspired by <a href="https://github.com/defunkt/resque">Resque</a>.</p>
                        <p class="pull-right">Crafted by <a href="http://twitter.com/henrikbjorn">@henrikbjorn</a> and <a href="https://github.com/henrikbjorn/Juno/contributors">other awesome people</a>.</p>
                    </div>
                </div>
            <div>
        </div>

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="{{ app.request.basePath }} /juno/js/juno.js"></script>
    </body>
</html>
{% endif %}
