{% set title = block('title')|trim|default('Juno') %}
<!DOCTYPE html>
<html ng-app="Juno">
    <head>
        <title ng-bind-template="{{ '{{ route.current.name || \'\' | ucfirst }}' }} - {{ title }}">{{ title }}</title>
        <base href="{{ base_url }}" />

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% block stylesheets %}
            <link rel="stylesheet" href="/juno/bootstrap/css/bootstrap.css" />
            <link rel="stylesheet" href="/juno/app.css" />
        {% endblock %}
    </head>

    <body ng-controller="DefaultController">
        {% block ribbon %}
            <div class="ribbon">
                <a href="https://github.com/bernardphp/Juno">Fork me on GitHub!</a>
            </div>
        {% endblock %}

        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a ng-href="" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="navbar-brand" ng-href="./">{{ title|title }}</a>
                </div>
            </div>
        </div>

        <div class="navbar navbar-juno navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-collapse" ng-class="{'collapse' : !isCollapsed }">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ 'active' : route.current.name == 'overview' }">
                            <a ng-href="./"><span class="glyphicon glyphicon-dashboard"></span> Overview</a>
                        </li>

                        <li ng-class="{ 'active' : ['queues', 'queue'].indexOf(route.current.name) != -1 }">
                            <a ng-href="./queue"><span class="glyphicon glyphicon-film"></span> Queues</a>
                        </li>

                        <li ng-class="{ 'active' : route.current.name == 'failed' }">
                            <a ng-href="./queue/failed"><span class="glyphicon glyphicon-warning-sign"></span> Failed</a>
                        </li>

                        <li ng-class="{ 'active' : route.current.name == 'consumers' }">
                            <a ng-href="./consumer"><span class="glyphicon glyphicon-cog"></span> Consumers</a>
                        </li>

                        <li ng-class="{ 'active' : route.current.name == 'info' }">
                            <a ng-href="./info"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" ng-view></div>

        <div class="container text-center">
            <a class="logo" href="http://bernardphp.com">Bernard</a>
        </div>

        {% block templates %}
            <script type="text/ng-template" id="overview">{{ include('@Juno/overview.html.twig')|raw }}</script>
            <script type="text/ng-template" id="queues">{{ include('@Juno/queues.html.twig')|raw }}</script>
            <script type="text/ng-template" id="queue">{{ include('@Juno/queue.html.twig')|raw }}</script>
            <script type="text/ng-template" id="consumers">{{ include('@Juno/consumers.html.twig')|raw }}</script>
            <script type="text/ng-template" id="info">{{ include('@Juno/info.html.twig')|raw }}</script>
        {% endblock %}

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-resource.js"></script>

            {% if debug %}
                <script src="/juno/app.js"></script>
                <script src="/juno/utils.js"></script>
            {% else %}
                <script src="/juno/app.min.js"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
